.projects {
    padding: 0 1rem;

    & > h1 {
        font-size: 1.5rem;
        text-align: center;
    }
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 1rem;
    padding: 1rem 0;

    article {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        .thumbnail {
            margin-bottom: 0.5rem;
            line-height: 0;

            img {
                width: 100%;
            }
        }

        h1 {
            font-size: 1.25rem;
        }

        h1, small, p {
            margin: 0.25rem 0.5rem;
        }

        p {
            flex: 1 0 auto;
            font-size: 0.8em;
        }

        a.btn {
            display: block;
            background: $mainHeaderBackground;
            color: $mainHeaderColor;
            padding: 0.25rem 0.5rem;
            text-decoration: none;
            border: inset 3px lighten($mainHeaderBackground, 20%);
            margin-top: 0.5rem;
            font-size: 0.9rem;

            &:hover {
                background: lighten($mainHeaderBackground, 5%);
            }

            &:active {
                border: none;
                padding: calc(0.25rem + 3px) calc(0.5rem + 3px);
            }

            i {
                margin-right: 0.5rem;
            }
        }
    }
}
