// Fonts
$bodyFont: 'Open Sans', sans-serif;

// Colors
$mainHeaderBackground: rgb(59, 59, 59);
$mainHeaderColor: white;

$menuHighlight: lighten($mainHeaderBackground, 10%);

$brandColor: rgb(60, 95, 211);
