@import 'variables.scss';
body {
    font-family: $bodyFont;
}

h1 {
    font-family: $bodyFont;
}

.wp-block {
    max-width: 800px;
}

.editor-post-title__block, .editor-post-title__input {
    font-family: $bodyFont;
}