@font-face {
  font-family: 'FuturaTEE';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaTEE Regular"), url(./fonts/futura-tee.ttf); }

body {
  background: #1c1c1c;
  color: #e0e0e0;
  margin: 0;
  font-family: 'Inconsolata', monospace; }

p {
  font-family: 'Inconsolata', monospace; }

.quote {
  font-size: 28px;
  box-sizing: border-box;
  padding: 1em;
  font-style: italic;
  font-family: 'FuturaTEE', sans-serif;
  padding-top: 80px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'FuturaTEE', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #91d97d;
  text-align: center; }

a {
  color: #54b0ed;
  text-decoration: none; }
  a:hover {
    color: #d59c86; }

img {
  width: 100%;
  height: auto !important; }

header {
  font-family: 'FuturaTEE', sans-serif;
  text-transform: uppercase;
  background: #333333;
  padding: 20px;
  display: table;
  width: 100%;
  box-sizing: border-box; }
  header nav {
    display: table-cell;
    text-align: right;
    vertical-align: middle; }
    header nav a {
      text-decoration: overline;
      display: inline-block;
      padding: 0.75em 1em;
      letter-spacing: 2px;
      font-size: 14px;
      color: white; }

#site-title {
  vertical-align: middle;
  text-align: left;
  letter-spacing: 3px;
  line-height: 1em;
  font-size: 25px;
  padding: 0;
  margin: 0;
  display: table-cell; }
  #site-title a {
    color: white; }
    #site-title a:hover {
      color: #d59c86; }

main {
  max-width: 1024px;
  margin: 0 auto; }

footer {
  text-align: center;
  padding: 20px;
  background: #333333; }

hr {
  border-color: #333333; }

.active {
  color: #91d97d; }
  .active:hover {
    color: #91d97d; }

.post-preview {
  box-sizing: border-box;
  padding: 0 20px 40px 20px;
  text-align: center; }
  .post-preview p {
    text-align: left; }

.thumbnail {
  position: relative;
  display: block;
  background: #54b0ed; }
  .thumbnail h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background: rgba(51, 51, 51, 0.8);
    text-align: center;
    padding: 0.1em 0; }
  .thumbnail:hover img {
    opacity: 0.6; }

.learn-more {
  border: 2px solid #e0e0e0;
  background: transparent;
  color: #e0e0e0;
  font-size: 120%;
  width: 90%;
  margin: 20px auto; }
  .learn-more:hover {
    border-color: #54b0ed;
    color: #54b0ed; }

.profile {
  padding: 25px;
  box-sizing: border-box; }

.social {
  margin: 0 auto; }
  .social a {
    margin: 25px;
    max-width: 15vw; }
