#hamburger {
    width: 38px;
    height: 38px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background: $menuHighlight;
    }

    .line {
        height: 2px;
        margin-bottom: 3px;
        background: white;
        transition: all 0.5s ease;
        transform-origin: center left;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#main-header {
    background: $mainHeaderBackground;
    flex: 0 0 auto;

    .container {
        position: relative;
    }

    a {
        color: $mainHeaderColor;
        text-decoration: none;
        padding: 0.5rem;
        display: block;
    }

    ul.menu {
        visibility: hidden;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        background: lighten($mainHeaderBackground, 5%);
        position: absolute;
        transition: all 0.3s ease;
        transform: translate3d(0, -100%, 0);
        z-index: 15;

        li {
            border-bottom: thin solid $mainHeaderBackground;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background: $menuHighlight;
            }
        }

        a {
            padding-left: 1rem;
        }

        a.current {
            border-left: solid 0.5rem $brandColor;
        }
    }

    .branding {
        background: $mainHeaderBackground;
        position: relative;
        display: flex;
        z-index: 20;

        .logo {
            font-weight: bold;
            margin-right: auto;
        }
    }

    &.open {
        #hamburger {
            background: $menuHighlight;
            .line:nth-child(1) {
                transform: translate(3px, -1.5px) rotate(45deg);
            }

            .line:nth-child(2) {
                transform: translate(100%, 0);
                opacity: 0;
            }

            .line:nth-child(3) {
                transform: translate(3px, 1.5px) rotate(-45deg);
            }
        }

        ul.menu {
            visibility: visible;
            transform: translate3d(0, 0, 0);
        }
    }
}