@media screen and (min-width: 520px) {
    #main-header {
        .container {
            display: flex;

            .branding .logo {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            ul.menu {
                visibility: visible;
                width: initial;
                display: flex;
                position: relative;
                transform: initial;
                background: initial;
                margin-left: auto;
                font-size: 13px;
                align-items: stretch;

                li {
                    border-bottom: none;
                    height: 100%;
        
                    &:hover {
                        background: $menuHighlight;
                    }
                }

                a {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0.75em 1em;
                }

                a.current {
                    border-left: none;
                    border-bottom: solid 4px $brandColor;
                    padding-bottom: calc(0.75rem - 4px);
                }
            }
        }
    }

    #hamburger {
        display: none;
    }

    /* HERO */
    #hero {
        padding: 5vw 0.5em;

        .container {
            min-height: calc(150px + 6vw);
            padding: 3vw;

            p { font-size: 1rem; }
            img { max-width: 150px; }
            h1 { font-size: 1.2rem; }
            .social-links a { font-size: 13px; }
        }
    }

    .carosel .project {
        flex-direction: row;

        .thumbnail {
            flex-basis: 720px;
        }

        .info {
            padding-top: 0;
            padding-left: 1rem;
        }
    }
}

@media screen and (min-width: 768px) {
    #main-header .container ul.menu {
        font-size: 14px;
    }
}

@media screen and (min-width: 1440px) {
    #hero {
        padding: 72px 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;

        .container {
            padding: 43px;
            min-height: calc(150px + 86px);
        }
    }
}