@import 'variables';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: $bodyFont;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

@import 'header';
@import 'hero';

main {
    flex: 1 0 auto;
}

article {
    margin-left: 0.75em;
    margin-right: 0.75em;
}

.blog-entry {
    background: rgb(245, 245, 245);
    padding: 0.75em;
    margin: 1em 0.75em;

    h1 {
        margin-top: 0;
        margin-bottom: 0.25em;
    }

    img {
        max-width: 100%;
        height: auto;
        float: left;
        margin-right: 0.75em; 
    }

    p {
        margin-bottom: 0;
        margin-top: 0.25em;
    }
    
    small {
        font-style: italic;
    }
}

body > footer {
    background: $mainHeaderBackground;
    color: $mainHeaderColor;
    padding: 0.75em;
    text-align: center;
    flex: 0 0 auto;

    ul.menu {
        display: flex;
        padding: 0;
        padding-bottom: 0.5em;
        margin: 0;
        list-style-type: none;
        justify-content: center;
        align-self: stretch;
        align-items: stretch;
    
        a {
            color: $mainHeaderColor;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height:100%;
            font-size: 0.75em;
            padding: 0 0.75em;
    
            &:hover {
                background: lighten($mainHeaderBackground, 15%);
            }
        }
    }
}

.home h1 {
    text-align: center;
    line-height: 1.6;
    border-bottom: solid black;
}

.home h3 {
    text-align: center;
    line-height: 1.8;
    border-bottom: solid black thin;
}

.pagination {
    padding: 0.75em;
    user-select: none;

    &:last-child {
        margin-bottom: 1em;
    }

    &:first-child {
        margin-top: 1em;
    }

    .page-numbers {
        display: inline-block;
        background: $mainHeaderBackground;
        color: $mainHeaderColor;
        padding: 0.5em;
        text-decoration: none;
        user-select: none;
    }

    .page-numbers.current {
        background: #67ac53;
    }

    a.page-numbers:hover {
        background: lighten($mainHeaderBackground, 15%);
    }

    .dots {
        background: initial;
        color: initial;
    }
}

.post-list-heading {
    text-align: center;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 10px;
    border-bottom: solid 4px #3c5fd3;
}

// Needed for some wordpress output content
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

@import 'projects';

.carosel {
    position: relative;
    padding: 4.5rem 0.5em 4.5rem 0.5em;
    background-color: #0F0E0F;
    overflow: hidden;

    & > h1 {
        color: $mainHeaderColor;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        background: rgba(0, 0, 0, 0.85);
        padding: 0.5rem;
        border-radius: 5px;
        line-height: 1;
    }

    .project {
        max-width: 1000px;
        background: rgba(255, 255, 255, 0.95);
        border-radius: 5px;
        position: relative;
        display: none;
        padding: 1rem;
        z-index: 10;

        .thumbnail {
            display: block;
            line-height: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            flex-basis: 720px;
            aspect-ratio: 720 / 404;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &.active {
            display: flex;
        }

        .btn {
            display: block;
            padding: 0.25em 0.75em;
            background: $mainHeaderBackground;
            color: $mainHeaderColor;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 0.5em;

            i {
                margin-right: 0.5em;
            }

            &:hover {
                background: $menuHighlight;
            }
        }

        .info {
            padding-left: 1rem;
            flex: 1;
            display: flex;
            flex-direction: column;
            min-width: 200px;

            h1 {
                margin-top: 0;
            }

            nav {
                margin-top: auto;
            }
        }
    }

    .backdrop {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.5s linear;
        filter: blur(2px);

        &.active {
            opacity: 0.5;
        }
    }

    .nav-dots {
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }
    
    .dot {
        width: 14px;
        height: 14px;
        margin: 5px;
        border: 1px solid white;
        background-color: black;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: white;
        }

        &.active {
            background-color: $brandColor;
            cursor: default;
            pointer-events: none;
        }

    }
}

@import 'responsive';